

.section-mogo{
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 2s;
}

.extra-div{
    width:100%
}


.menu-btn:hover, .dark-toggle:hover{
    cursor: pointer;
}

.menu-btn{
    overflow: hidden;
    height: 100px;
}
.menu-btn svg{
    height: 400px;
}
