*{
  margin: 0;
  padding: 0;
  font-family: 'robo-regular';
  box-sizing: border-box;
}
body{
  --WHITE: #ffffff;
  --SOFT_COLOR: #D1E9FF;
  --PRIMARY: #1579D7;
  --ACENT: #114F87;
  --MEDIUM: #B4DBFF;
  --BLACK: black;
  --APP_GREY: #E7E7E7;
}
*:focus{
  outline: none;
}
ul{
  list-style: none;
}
button:hover{
  cursor: pointer;
}
@font-face {
  font-family: 'robo-bold';
  src:  url('./assets/fonts/Chakra_Petch/ChakraPetch-Bold.ttf');
}
@font-face {
  font-family: 'robo-semi-bold';
  src:  url('./assets/fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf');
}
@font-face {
  font-family: 'robo-regular';
  src:  url('./assets/fonts/Chakra_Petch/ChakraPetch-Regular.ttf');
}
@font-face {
  font-family: 'gothic';
  src:  url('./assets/fonts/gothicb.ttf');
}

#root {
  text-align: center;
}

body{
  position: fixed;
  top: 0;
  left: 0;

}

.layover{
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  opacity:0.4;
}

.ade{
  font-family: 'gothic';
  color: var(--SOFT_COLOR);
  font-size: 3rem;
}

.home_page{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  
  background-color: #1579D7;
  overflow-y: scroll;

  overflow-x: hidden;
}

.home_page nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
nav h3, nav .menu-sym{
  margin-inline: 2rem;
  margin-top: 1rem;
}


.key-skills{
  background-color: var(--SOFT_COLOR);
  width: 100vw;
  height: auto;
  font-size: 2rem;

  padding: 8rem 0 6rem 10rem;

  font-family: 'robo-bold';
  margin-top: 5rem;
  color: var(--PRIMARY);
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

#key-p::after{
  content:'';
  width: 60rem;
  height: 3px;
  background-color: var(--PRIMARY);
  display: inline-block;
  position: absolute;
  bottom: 5rem;
  left: 9rem;
}

.key-underline{
  height: 3px;
  width: 50rem;
  margin-left: -1rem;
  padding-right: 5rem;
  margin-top:1rem;
  background-color: var(--PRIMARY);;
}

.section-header{
  display: flex;
  text-align: left;
  align-items: center;
  padding-top: 3rem;
  padding-left: 3rem;
  width: 100%;
  transition: 2s;
}

.section-header h1{
  font-family: 'gothic';
  margin-left: 4rem;
  font-size: 4rem;
  padding-right: 1rem;
  transition: 2s;
}

.section-header h2{
  font-family: 'robo-regular';
  margin-left: 1rem;
  transition: 2s;
}

@media (max-width: 1000px) {
  .section-1{
    flex-direction: column;
  }
}