

.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.section-1 img{
    margin-right: 2rem;
    position: relative;
    top: -28px;
    width: 43vw;
}

.sec-1-text-stack{
    color: var(--SOFT_COLOR);
    text-align: left;
    position: relative;
    top: 1rem;
}

.main-text{
    font-size: 7.5vw;
    font-family: 'gothic';
    line-height: 1;
}

.sec-1-text-stack .row-2{
    font-family: 'robo-bold';
    margin-top: 25px;
}

.sec-1-text-stack .row-3{
    font-family: 'robo-regular';
    margin-top: .5rem;
}
.row-3{
    font-size: 20px;
}

.hollar-btn{
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1rem;
    font-family: 'robo-bold';
    color: var(--WHITE);
    font-size: 1.1rem;
    background-color: var(--ACENT);
    outline: none;
    border: none;
    margin-top: 1rem;
}

